[profile.default]
src = "src"
test = "test"
script = "script"
out = "out"
libs = ["lib"]
solc_version = "0.8.24"
evm_version = "cancun"
optimizer = true
optimizer_runs = 200
via_ir = true
fs_permissions = [{ access = "read-write", path = "./" }]
remappings = [
  "forge-std/=lib/v4-core/lib/forge-std/src/",
  "solmate/=lib/v4-core/lib/solmate/src/",
  "v4-core/=lib/v4-core/"
]
